version: '3.7'
services:
  postgres:
    image: postgres:18
    container_name: date-manager_pg
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: date_manager
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: