version: '3.7'
services:
  postgres:
    image: postgres:18
    container_name: date-manager_pg
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: date_manager
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data_dev:/var/lib/postgresql
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

volumes:
  postgres_data_dev:

networks:
  app-network:
    driver: bridge